@use "variables" as *;

.dropdown {
    position: relative;

    .dropbtn {
        outline: none;
    }
}

.dropdown-content {
    opacity: 0;
    pointer-events: none;
    position: absolute;


    .list-wrapper {
        border-radius: 8px;
        overflow: hidden;
        background-color: #edefff;
        box-shadow: 0px 2px 2px #0000005c;
        transform: translateY(0px) scale(0.98);
        transition:
            opacity 180ms ease-out,
            transform 180ms ease-out,
            visibility 0s linear 180ms;
        width: 10rem;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid #181a1b2b;
        cursor: pointer;
        color: black;
        font-weight: 300;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: $algae-green-light-secondary;
            color: white;
        }

        a,
        button {
            padding: 0.5rem 1rem;
            height: 100%;
            width: 100%;
            display: inline-block;
            text-align: start;
        }

        &:not(:has(a)) {
            padding: 0.5rem 1rem;
        }

        &:has(button) {
            padding: 0;
        }
    }
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;

    .list-wrapper {

        transform: translateY(1rem) scale(1);
        transition:
            opacity 180ms ease-out,
            transform 180ms ease-out,
            visibility 0s;
    }
}