$primary-dark: #192348;
$secondary-dark: #15305e;
$tertiary-dark: #24436a;
$secondary-dark-light: #23436cc4;
$primary-light: #fff;
$secondary-light: #0021ff12;
$algae-green: #004c64;
$algae-green-secondary: #00607f;
$algae-green-light: #94b4be;
$algae-green-light-secondary: #94b4bed4;
