@use "tailwindcss";

.table-wrapper {
    border: 1px solid #ddd;
    @apply sm:rounded-[10px] rounded-lg;
}

.table {
    @apply sm:text-base text-sm w-full bg-white;
    min-width: max-content;
    border-collapse: collapse;

    thead {
        background: #6a58ff4f;
    }

    tbody tr:hover {
        background-color: #5a00ff12;

    }

    th,
    td {
        border-bottom: 1px solid #ddd;
        padding: 10px 1rem;
        text-align: left;
    }
}

.table-bottom-btn {
    @apply w-full rounded-none bg-[#714efff7];
}